<h2 mat-dialog-title fxLayoutAlign="center">Edit Organization</h2>
<mat-dialog-content fxLayout="column">
    <mat-form-field>
        <input matInput #editOrgName placeholder="Organization Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput #editOrgDescription placeholder="Description">
    </mat-form-field>
    <mat-error *ngIf="displayMessage">{{userMessage}}</mat-error>
    <section fxLayout="row" fxLayoutGap="10%" >
        <mat-form-field class="example-full-width">
            <mat-label>Charge Amount</mat-label>
            <input matInput id='cost' currencyMask placeholder="Ex. $6000.00" value="">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Subscription End Date</mat-label>
            <input id='date' matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

    </section>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="editOrganization('edit')">SUBMIT</button>
    <button mat-raised-button color="accent" (click)="return();">CANCEL</button>
    <button mat-raised-button color="primary" (click)="editOrganization('activate')" *ngIf="!data.active">ACTIVATE</button>
    <button mat-raised-button color="warn" (click)="editOrganization('deactivate')" *ngIf="data.active">DEACTIVATE</button>
</mat-dialog-actions>
<mat-error *ngIf="displayErrorMsg">{{errorMessage}}</mat-error>
