<h1 mat-dialog-title fxLayoutAlign="center">Organization Twilio Account</h1>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-error fxLayoutAlign="center" *ngIf="!accountExists && !loading">No Account Exists</mat-error> 
<mat-dialog-content *ngIf="accountExists" style="padding-top:10px;padding-bottom:10px">
  <mat-tab-group mat-stretch-tabs>

    <mat-tab label="Purchase Numbers">
      <mat-list>
        <mat-list-item *ngFor="let number of phoneNumbers">
          <mat-icon matListIcon>call</mat-icon>
          <h3 matLine> {{number.phoneNumber}}</h3>
          <p matLine><span>{{number.smsUrl}}</span></p>
          <p matLine><span>{{number.voiceUrl}}</span></p>
          <button mat-button (click)="releasePhoneNumber(number)" color='warn' style="float: right;">Release</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-form-field fxFlex=30% matLine>
            <input matInput #areaCode placeholder="Area Code" maxlength="3">
          </mat-form-field>
          <button mat-button color='primary' (click)="buyPhoneNumber()" matLine>Buy Number</button> 
          
          <button mat-button color='warn' *ngIf="!loading && accountExists && user.dev" (click)="updateTwilioAccount()" style="float: right;">Update Twilio URL's</button>
        </mat-list-item>
        <p matLine><span><mat-error fxLayoutAlign="center" *ngIf="displayMessage">{{userMessage}}</mat-error> </span></p>
      </mat-list>

    </mat-tab>
    <mat-tab label="Purchase Msgs/Mins">
           
      <h2>Currently Funded: {{funded}}</h2>
      <mat-slide-toggle checked="{{funded}}" *ngIf='user.dev' (click)="toggleFundedStatus(!fundedToggle.checked);" #fundedToggle> Change Funded Status</mat-slide-toggle>

    </mat-tab>
    <mat-tab label="Account Usage" *ngIf="user.dev">
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>sms</mat-icon>
          <h3 matLine> Messages: {{msgCount}}</h3>
          <p matLine><span>Charge: ${{msgCost}}</span></p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>call</mat-icon>
          <h3 matLine> Call Minutes: {{callCount}}</h3>
          <p matLine><span>Charge: ${{callCost}}</span></p>
        </mat-list-item>
        
        <mat-list-item *ngIf="user.dev">
          <mat-icon matListIcon>call</mat-icon>
          <h3 matLine> Phonenumbers: {{phoneNumCount}}</h3>
          <p matLine><span>Charge: ${{phoneNumCost}}</span></p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item *ngIf="user.dev">
          <h3 matLine> Total Charge: ${{totalCost}}</h3>
        </mat-list-item>
      </mat-list>
      
    </mat-tab>

  </mat-tab-group>
</mat-dialog-content>


<mat-dialog-actions  *ngIf="!loading && !accountExists" align="end">
  <button mat-raised-button color='primary' (click)="createTwilioAccount()">CREATE ACCOUNT</button>
</mat-dialog-actions>

<mat-error fxLayoutAlign="center" *ngIf="displayErrorMsg">{{errorMessage}}</mat-error> 