<h2 mat-dialog-title fxLayoutAlign="center">Target Summary</h2>
<mat-dialog-content fxLayout="column">
  <mat-progress-bar mode="indeterminate" *ngIf="loadingData"></mat-progress-bar>
  <mat-tab-group>
    <mat-tab label="My Organization's Targets">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let orgTarget of orgTargets">
          <mat-expansion-panel-header>
            <mat-panel-title>{{orgTarget.properties.name}}</mat-panel-title>
            <mat-panel-description>{{orgTarget.properties.targetType}}</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let rule of orgTarget.properties.queries.rules">{{rule.field}} {{rule.operator}} {{rule.value}}</mat-list-item>
          </mat-list>
          <button mat-stroked-button color='accent' *ngIf='dataManager || dev' (click)="downloadTarget(orgTarget._id)">Download Mailer List</button>
          <button mat-stroked-button color='warn' *ngIf='dev'  (click)="downloadAsSocialMediaList(orgTarget._id)">Download Email Phone List</button>
          <button mat-stroked-button color='warn' *ngIf='dev'  (click)="removeTarget(orgTarget._id)">Delete Target</button>
         
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab label="Campaign Wide Targets">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let campaignWideTarget of campaignWideTargets">
          <mat-expansion-panel-header>
            <mat-panel-title>{{campaignWideTarget.properties.name}}</mat-panel-title>
            <mat-panel-description>{{campaignWideTarget.properties.targetType}}</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let rule of campaignWideTarget.properties.queries.rules">{{rule.field}} {{rule.operator}} {{rule.value}}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab label="All Campaign Targets">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let campaignTarget of allCampaignTargets">
          <mat-expansion-panel-header>
            <mat-panel-title>{{campaignTarget.properties.name}}</mat-panel-title>
            <mat-panel-description>{{campaignTarget.properties.targetType}}</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let rule of campaignTarget.properties.queries.rules">{{rule.field}} {{rule.operator}} {{rule.value}}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
