
<h2 mat-dialog-title fxLayoutAlign="center">Create an Organization</h2>
<mat-dialog-content fxLayout="column">
    <mat-form-field>
        <input matInput #orgName placeholder="Organization Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput #orgDescription placeholder="Description">
    </mat-form-field>
    <mat-error *ngIf="displayMessage">{{userMessage}}</mat-error>
    <section fxLayout="row" fxLayoutGap="10%" >
        <mat-form-field class="example-full-width">
            <mat-label>Charge Amount</mat-label>
            <!--<input matInput id='cost' currencyMask placeholder="Ex. $6000.00" value="">-->
            <input matInput id='cost' #cost placeholder="Ex. $6000.00" value="">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Subscription End Date</mat-label>
            <input id='date' #date matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

    </section>
</mat-dialog-content>
<mat-dialog-actions align="end" >
    <button mat-raised-button color="primary" (click)="createOrganization()">SUBMIT</button>
    <button mat-raised-button color="accent" (click)="closeDialog();">CANCEL</button>
</mat-dialog-actions>
<mat-error *ngIf="displayErrorMsg">{{errorMessage}}</mat-error>