<header fxLayoutAlign="center"  fxLayout="column" fxLayoutGap="5%">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</header>
<section style="margin-top: 2%" fxLayout="row" fxLayoutAlign="center"fxLayoutGap="5%">
    <mat-card fxFlex="90">
        <mat-card-header>
            <mat-card-title>Voter Search</mat-card-title>

          </mat-card-header>

          <mat-card-actions fxLayout="row" >
            <section fxLayout="column" fxLayoutGap="2%" >

                <section fxLayout="row" fxLayoutGap="2%" >
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="First Name" #firstName>
                    </mat-form-field>
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Last Name" #lastName>
                    </mat-form-field>

                </section>

                <section fxLayout="row" fxLayoutGap="2%" >
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Street Number" #streetNum>
                    </mat-form-field>
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Street Name" #streetName>
                    </mat-form-field>
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="City" #city>
                    </mat-form-field>
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Zip" #zip>
                    </mat-form-field>

                </section>


            </section>
            <span class="spacer"></span>
            <button mat-stroked-button color='primary' (click)='searchPerson()'>Search</button>
            <button mat-stroked-button color="accent" (click)="firstName.value='';
            lastName.value='';
            streetNum.value='';
            streetName.value='';
            city.value='';
            zip.value='';">CLEAR</button>
          </mat-card-actions>
          <mat-card-content>
            <mat-error *ngIf="displayUserMsg">{{userMessage}}</mat-error> 
            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[10, 15, 50, 100, totalSize]" [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)" ></mat-paginator>
            <table matSort (matSortChange)="sortData($event)" *ngIf='showResults'>
                <tr>
                  <th mat-sort-header="firstName">First Name</th>
                  <th mat-sort-header="middleName">Middle Name</th>
                  <th mat-sort-header="lastName">Last Name</th>
                  <th mat-sort-header="phoneNumber">Phone Number</th>
                  <th mat-sort-header="email">Email</th>
                  <th mat-sort-header="city">City</th>
                  <th mat-sort-header="zip">Zip</th>
                </tr>
                <tr *ngFor="let person of sortedMembers; let i = index">
                    <td>{{person.resident.name.firstName}}</td>
                    <td>{{person.resident.name.middleName}}</td>
                    <td>{{person.resident.name.lastName}}</td>
                    <td>{{person.resident.phones[0] ? person.resident.phones[0].number : ''}}</td>
                    <td>{{person.resident.email ? person.resident.email: ''}}</td>
                    <td>{{person.address.city}}</td>
                    <td>{{person.address.zip}}</td>
                    <td><button mat-button color="accent" (click)="openDetailsDialog(person)">SHOW DETAILS</button></td>
                    <mat-divider></mat-divider>
                </tr>
              </table>

          </mat-card-content>

    </mat-card>



</section>
<mat-error fxLayoutAlign="center"><b>{{errorMessage}}</b></mat-error>
<body style="margin-top: 2%" fxLayout="row" fxLayoutAlign="center"fxLayoutGap="5%">

    <!--
        <mat-accordion >
            <mat-expansion-panel *ngFor="let result of results; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>{{i + 1}} {{result.resident.name.firstName}} {{result.resident.name.middleName}} {{result.resident.name.lastName}} </mat-panel-title>
                <mat-panel-description *ngIf='result.resident.party'> 
                    <section >Party: {{result.resident.party}} - Age: {{result.resident.dob}}</section>
                </mat-panel-description>
              </mat-expansion-panel-header>

            </mat-expansion-panel>
        </mat-accordion>-->

    <!--<button mat-raised-button color='primary' (click)='openUploadDialog()'>Upload Contacts</button>-->
</body>



