
<h2 mat-dialog-title fxLayoutAlign="center">Create a Polygon</h2>
<mat-dialog-content fxLayout="column" fxLayoutGap="1%">
  <mat-form-field><input matInput #polygonName placeholder="Polygon Name"></mat-form-field> 
  <mat-form-field><textarea matInput #description placeholder="Description"></textarea></mat-form-field> 
  
  <mat-expansion-panel *ngIf='data.properties.demographics'>
    <mat-expansion-panel-header>
      <mat-panel-title>Demographics</mat-panel-title>
    </mat-expansion-panel-header>
    <section >
      <p>TotalPop: {{data.properties.demographics.totalPop}}</p>
      <p *ngIf="data.properties.demographics.lcvap">LCVAP: {{data.properties.demographics.lcvap}}</p>
      <p *ngIf="data.properties.demographics.bcvap">BCVAP: {{data.properties.demographics.bcvap}}</p>
      <p *ngIf="data.properties.demographics.acvap">ACVAP: {{data.properties.demographics.acvap}}</p>
      <p *ngIf="data.properties.demographics.cvap">CVAP: {{data.properties.demographics.cvap}}</p>
      
      <p *ngIf="data.properties.demographics.percentHispanic">% Hispanic: {{data.properties.demographics.percentHispanic}}</p>
      <p *ngIf="data.properties.demographics.percentWhite">% White: {{data.properties.demographics.percentWhite}}</p>
      <p *ngIf="data.properties.demographics.percentBlack">% Black: {{data.properties.demographics.percentBlack}}</p>
      <p *ngIf="data.properties.demographics.percentAsian">% Asian: {{data.properties.demographics.percentAsian}}</p>
    </section>

  </mat-expansion-panel>
  <br>
  <mat-error *ngIf="displayMessage">{{userMessage}}</mat-error>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-stroked-button color="primary" (click)="createPolygon();">Create Polygon</button>
    <button mat-stroked-button color="warn" (click)="cancel();">Cancel</button>
</mat-dialog-actions>
