<div style="margin-top: 10%" fxLayout.xs="column" fxLayout="row" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="5%" *ngIf="!dataLoaded">
  <mat-card fxLayoutGap="10%" fxLayout="column" fxFlex="40" fxFlex.sm="60">
    <span fxLayoutAlign="center">
      <img width="373" height="81" alt="censusIE Logo" src="{{logo_dir}}">
    </span>
    <section fxLayout="column" fxLayoutGap="10%">
        <p fxLayoutAlign="center">Loading Organizations...</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <br>
    </section>
  </mat-card>
</div>

<div fxLayout="column" fxLayoutAlign="stretch center" *ngIf="dataLoaded">
  <input style="width:93%;margin-top:1.2%;padding:12px;font-size:14px;" (keyup)="applyFilter($event.target.value)" placeholder="Search for organization" >
</div>

<mat-grid-list [cols]="gridColumns || 1" rowHeight="2:1" *ngIf="dataLoaded">
  <mat-grid-tile *ngFor="let org of adminOrgs" >
    <mat-card fxFlex = 80% >
      <button mat-icon-button width="40" height="40" style="float: right;" (click)="editOrganization(org)">
        <img width="40" height="40" alt="org" src="../assets/org.png">
      </button>
      <div>
        <h1>{{org.name}}</h1>
        <h4>{{org.description}}</h4>
        <h4>Role: Admin</h4>
      </div>
      <br>
      <div fxLayout="row" fxLayoutGap="20%" fxLayoutGap.lg="15%" fxLayoutGap.md="10%" fxLayoutGap.sm="5%" *ngIf="org.active">
        <button mat-raised-button color="primary" fxLayoutAlign="center" (click)="enterOrganization(org)">ENTER</button>
        <button mat-raised-button color="accent" fxLayoutAlign="center" (click)="openUserList(org)" >USERS</button>
      </div>
      <mat-error *ngIf="!org.active">Organization is Inactive</mat-error>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let org of leadOrgs">
      <mat-card fxFlex=80%>
        <button mat-icon-button width="40" height="40" style="float: right;">
          <img width="40" height="40" alt="org" src="../assets/org.png">
        </button>
        <div>
          <h1>{{org.name}}</h1>
          <h4>{{org.description}}</h4>
          <h4>Role: Lead</h4>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="20%" fxLayoutGap.lg="15%" fxLayoutGap.md="10%" fxLayoutGap.sm="5%" *ngIf="org.active">
          <button mat-raised-button color="primary" fxLayoutAlign="center" (click)="enterOrganization(org)">ENTER</button>
          <button mat-raised-button color="accent" fxLayoutAlign="center" (click)="openUserList(org)">USERS</button>
        </div>
      </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let org of volOrgs" >
    <mat-card fxFlex=80%> 
      <button mat-icon-button width="40" height="40" style="float: right;" >
          <img width="40" height="40" alt="org" src="../assets/org.png">
      </button>
      <div>
        <h1>{{org.name}}</h1>
        <h4>{{org.description}}</h4>
        <h4>Role: Volunteer</h4>
      </div>
      <br>
      <button mat-raised-button color="primary" fxLayoutAlign="center" (click)="enterOrganization(org)" *ngIf="org.active">ENTER</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-error fxLayoutAlign="center" *ngIf="displayErrorMsg">{{errorMessage}}</mat-error>

<footer fxLayoutGap="10%" *ngIf="dataLoaded"> 
  <section fxLayoutAlign="end">
    <section fxLayoutGap="10%" fxLayout="column">    
      <button mat-fab *ngIf="dev" (click)="openCreateOrgForm()" matTooltip="Create a new organization."><mat-icon>create</mat-icon></button>
      <button mat-fab (click)="openRequestOrgForm()" matTooltip="Request to a join an organization."><mat-icon>add</mat-icon></button>
      <button mat-fab  *ngIf="dev"  [matMenuTriggerFor]="menu" matTooltip="Developer Options" color="warn"><mat-icon>warning</mat-icon></button>
      <mat-menu #menu="matMenu">
        <div>
          <button mat-menu-item (click)="updateDevStatus()">
            <mat-icon>create</mat-icon>
            <span>Update Developer Status</span>
          </button> 
          
          <button mat-menu-item (click)="massGeocode()">
            <mat-icon>create</mat-icon>
            <span>Start Mass Geocode</span>
          </button>  
          <button mat-menu-item (click)="appendGeoids()">
            <mat-icon>create</mat-icon>
            <span>Append Geoids</span>
          </button>      
        </div>
      </mat-menu>
    </section>
  </section>
</footer> 
