
<h4 mat-dialog-title fxLayoutAlign="center">{{fullAddress1}}</h4>
<h3 mat-dialog-title fxLayoutAlign="center">{{fullAddress2}}</h3>
<mat-dialog-content fxLayout="column">
  <mat-action-list>
    <mat-list-item *ngFor="let record of records; let i = index" [disabled]='record.complete' (click)='openHouseHold(record.houseHold)'>
      <mat-icon matListIcon>group</mat-icon>
      <h3 matLine> {{record.houseHold.fullAddress1}}</h3>
      <p matLine *ngIf='!record.complete'><span>#Residents: {{record.houseHold.residents.length}}</span></p>
      <p matLine *ngIf='record.complete'><mat-error>Complete</mat-error></p>
      <button mat-stroked-button color="primary" [disabled]='record.complete' (click)='openHouseHold(record.houseHold)' >Open</button>
    </mat-list-item>
  </mat-action-list>
</mat-dialog-content>
<mat-dialog-actions align="end" >

</mat-dialog-actions>
