<h2 mat-dialog-title fxLayoutAlign="center" >Lock/Finish Multiple Shapes</h2>

<button fxLayoutAlign="center" mat-raised-button color="primary" (click)="lockGeometries()">
    <mat-icon>done</mat-icon>
    <span>Lock/Finish Mulitple Precincts</span>
</button>




<!--
<mat-dialog-content fxLayout="column" fxLayoutGap="5%">
  <mat-progress-bar mode="indeterminate" *ngIf="!dataLoaded"></mat-progress-bar>

  <section *ngIf="dataLoaded">
    <p fxLayoutAlign="center" *ngIf="data.properties.precinctID">Precinct Name: {{data.properties.precinctID}}</p>
    <p fxLayoutAlign="center" *ngIf="data.properties.geoid">Geoid: {{data.properties.geoid}}</p>
  </section>

  <section fxLayout="column" fxLayoutGap="5%" *ngIf="dataLoaded">

      <button mat-raised-button color="primary" (click)="registerGeometry()" *ngIf="registered === false && locked === false">REGISTER FOR {{data.properties.type | uppercase}}</button>

      <mat-expansion-panel *ngIf="registered === true">
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Registered Organizations
              </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
              <mat-list-item *ngFor="let registeredOrg of geoOrgs">
                  <mat-icon matListIcon>group</mat-icon>
                  <h3 matLine> {{registeredOrg.name}}</h3>
                  <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" *ngIf="dev || orgID === registeredOrg['_id'] || dataManager"><mat-icon>create</mat-icon></button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="lockGeometry(registeredOrg['_id'])" *ngIf="dev || dataManager">
                          <mat-icon>done</mat-icon>
                          <span>LOCK</span></button>
                      <button mat-menu-item (click)="unregisterGeometry(registeredOrg['_id'])">
                          <mat-icon>block</mat-icon>
                          <span>REMOVE</span>
                      </button>
                  </mat-menu>
              </mat-list-item>
          </mat-list>
      </mat-expansion-panel>

      <section *ngIf="locked === true">
          <p fxLayoutAlign="center">This organization is locked to this {{data.properties.type | lowercase}}</p>
          <mat-list>
              <mat-list-item *ngFor="let lockedOrg of geoOrgs">
                  <mat-icon matListIcon>group</mat-icon>
                  <h3 matLine> {{lockedOrg.name}}</h3>
                  <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" *ngIf="dev || dataManager"><mat-icon>create</mat-icon></button>
                  <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngIf="dev || dataManager" (click)="unlockGeometry(lockedOrg['_id'])">
                            <mat-icon>remove</mat-icon>
                            <span>UNLOCK</span>
                        </button>
                        <button mat-menu-item *ngIf="(dev || dataManager) && !finished" (click)="finishGeometry(lockedOrg['_id'])">
                            <mat-icon>done</mat-icon>
                            <span>FINISH</span>
                        </button>
                  </mat-menu>
              </mat-list-item>
          </mat-list>
      </section>

      <div fxLayout="column" fxLayoutGap="5%">
          <mat-error fxLayoutAlign="center" *ngIf="displayMessage">{{userMessage}}</mat-error>
      </div>

  </section>

</mat-dialog-content>-->


