<h2 mat-dialog-title fxLayoutAlign="center">Organization Billing</h2>
<mat-dialog-content fxLayoutGap="5%" fxLayout="column">

    <mat-card>
        <form (ngSubmit)="createStripeToken()" class="checkout" fxLayout="column" fxLayoutGap="5%">
            <section fxLayout="row">
                <input matInput id='first-name' placeholder="First Name">
                <input matInput id='last-name' placeholder="Last Name">
            </section>
    
            <input matInput id='email' placeholder="Email">
            <input matInput id='phone' placeholder="Phone Number">
            <div id='card-info' name='cardnumber' fxFlex='100%' #cardInfo></div>
            <mat-error role="alert" *ngIf="cardError"><mat-icon color='warn'>cancel</mat-icon>&nbsp;{{ cardError }}</mat-error>
            <button fxFlex='100%' mat-stroked-button color='primary' type="submit">Pay ${{totalAmount}}</button> 

        </form>

    </mat-card>


    <h2 *ngIf='subscribed' color='primary'>You account is Paid Full</h2>
    <mat-error *ngIf='!subscribed'>Not Paid Yet</mat-error>
    
    <mat-slide-toggle checked="{{subscribed}}" *ngIf='dev' (click)="toggleSubscribedStatus(!subscribedToggle.checked);" #subscribedToggle> Change Subscribed Status</mat-slide-toggle>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button color="accent" (click)="closeDialog();">CLOSE</button>
</mat-dialog-actions>
<mat-error fxLayoutAlign="center" *ngIf="displayErrorMsg">{{errorMessage}}</mat-error> 
