<div fxFlex="100%" >
  <div fxLayoutAlign="center center" style="background:#f2efe9;padding:2px 0px;">Activate Layer and Zoom in to level {{loadingZoomLevel}} to show blockgroups or cities. Current Zoom: <mat-error>{{zoom}}</mat-error></div>
  <div style="height:calc(100vh - 87px)" leaflet
                            [leafletOptions]="options" 
                            (leafletMapReady)="onMapReady($event)"
                            [leafletLayersControl]="layersControl" 
                            [leafletCenter]="center"
                            [(leafletZoom)]="zoom"                             
                            leafletDraw
                            (leafletDrawReady)="onDrawReady($event)"
                            [leafletDrawOptions]="drawOptions"
                            (leafletDrawCreated)="drawCreated($event)"
                            (leafletDrawEdited)='drawEdited($event)'
                            (leafletMapMoveStart)="mapStart($event)"
                            (leafletMapMoveEnd)="mapMoved($event)">
                            <div [leafletLayer]="drawnItems"></div>
                            <div [leafletLayer]="polygons"></div>
    <div fxFlex="20%" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="2%" style="z-index: 1000">
      <mat-card fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="5%" *ngIf="!loadingBlockgroups && !loadingPrecincts && !loadingBlocks">
        <button mat-icon-button matTooltip="Search" (click)="openSearchDialog()"><mat-icon>search</mat-icon></button>
        <button mat-icon-button matTooltip="Create Target" (click)="openTargetCreatorDialog()"><mat-icon>assignment</mat-icon></button>
        <button mat-icon-button matTooltip="Target Summary" (click)="openTargetSummary()"><mat-icon>insert_chart</mat-icon></button>
        <button mat-icon-button matTooltip="Download Polygons" (click)="downloadPolygons()"><mat-icon>cloud_download</mat-icon></button>
      </mat-card>
      <mat-card fxLayoutAlign="center center" fxLayout="column" *ngIf="loadingBlockgroups || loadingPrecincts || loadingBlocks">
        <mat-spinner></mat-spinner>
        Loading Map Layers....
      </mat-card>
    </div>
  </div>
</div>
