<button mat-icon-button class="close-button" matTooltip="Cancel" (click)="closeDialog();"><mat-icon>close</mat-icon></button>
<section *ngIf="mode === 'REQUEST'" >
    <h2 mat-dialog-title fxLayoutAlign="center">Request to join a Campaign</h2>
    <mat-dialog-content fxLayout="column">
        <mat-form-field>
            <input matInput #requestID placeholder="Campaign ID">
        </mat-form-field>
        <mat-error *ngIf="displayMessage">{{userMessage}}</mat-error>
    </mat-dialog-content>
    <mat-dialog-actions align="end" >
        <button mat-stroked-button color="primary" (click)="requestCampaign(requestID.value)">REQUEST CAMPAIGN</button>
    </mat-dialog-actions>
</section>


<section *ngIf="mode === 'SUCCESS'">
    <mat-card fxLayout="column" fxLayoutGap="5%">
        <span fxLayoutAlign="center">
            <img width="200" height="200" alt="success" src="../assets/success.png">
        </span>
    </mat-card>
</section>

<mat-error *ngIf="displayErrorMsg" style="margin-top: 14px">{{errorMessage}}</mat-error>