#progress-bar {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 1001;
    .mat-progress-bar {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


img.noStretch{
  object-fit: cover;
}

#footer {
  height: 100px; 
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0; 
}

.extended-fab-button {
  width: unset;
  padding: 0 26px;
  border-radius: 29px;

  //.mat-icon {
    //margin-right: 10px;
  //}

  .extended-fab-button__text {
    font-weight: 300;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}


@media only screen and (max-width: 1090px) {
  #fadeshow {
      display: none;
  }
}

.spacer {
  flex: 1 1 auto;
}

.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

.header-image {
  background-image: url('https://i.imgur.com/rglwYTy.png');
  background-size: cover;
}

