<h1 fxLayoutAlign="center" *ngIf="dataLoaded">{{org.name}}'s Campaigns</h1>
<br>
<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Active Campaigns"> 
        <div style="margin-top: 10%" fxLayout.xs="column" fxLayout="row" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="5%" *ngIf="!dataLoaded">
            <mat-card fxLayoutGap="10%" fxLayout="column" fxFlex="40" fxFlex.sm="60">
              <span fxLayoutAlign="center">
                <img width="373" height="81" alt="censusIE Logo" src="{{logo_dir}}">
              </span>
                  
              <section fxLayout="column" fxLayoutGap="10%">
                  <p fxLayoutAlign="center">Loading Organization Dashboard...</p>
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  <br>
              </section>
            </mat-card>
        </div>
        <mat-grid-list #campaignGrid rowHeight="2:1">
            <mat-grid-tile *ngFor="let campaign of activeCampaigns;">
                <mat-card fxFlex=80% *ngIf="dataLoaded">
                    <button mat-icon-button width="40" height="40" style="float: right;" (click)="openEditCampaignDialog(campaign)">
                        <img width="40" height="40" alt="campaign" src="../assets/campaign.png">
                    </button>
                    <div>
                      <h1>{{campaign.name}}</h1>
                      <h4>ID: {{campaign.campaignID}}</h4>
                      <h4>{{campaign.description}}</h4>
                    </div>
                    <br>
                    <button mat-raised-button color="primary" [disabled]='!subscribed' (click)="enterCampaign(campaign.campaignID)">ENTER</button>
                </mat-card>
                <br>
                <br>
              </mat-grid-tile>
        </mat-grid-list>


    </mat-tab>
    <mat-tab label="Inactive Campaigns">
        <mat-grid-list #inactiveCampaignGrid rowHeight="2:1">
            <mat-grid-tile *ngFor="let campaign of inactiveCampaigns;">
                <mat-card fxFlex=80% *ngIf="dataLoaded">
                    <button mat-icon-button width="40" height="40" style="float: right;" (click)="openEditCampaignDialog(campaign)">
                        <img width="40" height="40" alt="campaign" src="../assets/campaign.png">
                    </button>
                    <div>
                      <h1>{{campaign.name}}</h1>
                      <h4>ID: {{campaign.campaignID}}</h4>
                      <h4>{{campaign.description}}</h4>
                    </div>
                    <br>
                    <button mat-raised-button color="warn" [disabled]='!subscribed' (click)="enterCampaign(campaign.campaignID)" *ngIf="orgLevel === 'ADMINISTRATOR' || dev">ENTER</button>
                </mat-card>
                <br>
                <br>
              </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
  </mat-tab-group>


<section fxLayoutAlign="end" *ngIf="dataLoaded">
    <section fxLayout="column" fxLayoutGap="10%">
        <button  mat-fab *ngIf="(dev || orgLevel === 'ADMINISTRATOR') && subscribed" matTooltip="Create a campaign." (click)="openCreateCampaignDialog()"><mat-icon>create</mat-icon></button> 
        <button  mat-fab *ngIf="dev || orgLevel === 'ADMINISTRATOR'" matTooltip="Request to join a campaign." (click)="openRequestCampaignDialog()"><mat-icon>add</mat-icon></button> 
        
        <button  mat-fab *ngIf="dev || orgLevel === 'ADMINISTRATOR'" color="primary" matTooltip="Membership List Manager" (click)="openMembership()"><mat-icon>account_box</mat-icon></button>
        <button  mat-fab *ngIf="dev || orgLevel === 'ADMINISTRATOR'" color="warn" matTooltip="Twilio Account" (click)="openTwilioAccountDialog()" ><mat-icon>call</mat-icon></button>
        <button  mat-fab *ngIf="dev || orgLevel === 'ADMINISTRATOR'" color="warn" matTooltip="Organization's Settings" (click)="openOrgSettingsDialog()" ><mat-icon>settings</mat-icon></button>
        <button  mat-fab *ngIf="dev" color="primary" matTooltip="Subscription" (click)="openOrgBillingDialog()"><mat-icon>monetization_on</mat-icon></button>
    </section>
</section>
<mat-error fxLayoutAlign="center" *ngIf="displayErrorMsg">{{errorMessage}}</mat-error>


