/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '../node_modules/@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';
@include mat-core();

$my-blue: (
    50:  #193155,
    contrast: (
    50: $light-primary-text,
  )
);

$my-orange: (
    50 :  #e0b274,
    contrast: (
      50: $light-primary-text,
    )
);

$my-red: (
    50:    #ad1d2e,
    contrast: (
      50: $light-primary-text,
    )
);

$primary: mat-palette($my-blue, 50);
$accent:  mat-palette($my-orange, 50);
$warn: mat-palette($my-red, 50);



$config: mat-typography-config();
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);



.alternate-theme {
  $alternate-primary: mat-palette($mat-blue, 300);
$alternate-accent:  mat-palette($mat-orange, 700);
$alternate-warn:    mat-palette($mat-red, 400);


  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);

  @include angular-material-theme($alternate-theme);
}

* {
  margin:0;
  padding:0;
}

body {
  font-family: mat-font-family($config);
  font-weight: normal;
}

h2{
  font-weight: normal;
  font-size: medium;
}

h3 {
  font-weight: normal;
  font-size: small;
}

h4 {

  font-size: small;
  font-weight: lighter;
}

h1 {
  font-weight: normal;
  font-size: x-large;

}

.right-aligned-header > .mat-content {
  justify-content: start;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

.shepherd-element[data-popper-placement="top"] {
  margin-bottom: 20px !important;
}

.shepherd-element[data-popper-placement="bottom"] {
  margin-top: 20px !important;
}

.shepherd-element[data-popper-placement="left"] {
  margin-right: 20px !important;
}

.shepherd-element[data-popper-placement="right"] {
  margin-left: 20px !important;
}

.shepherd-element[data-shepherd-step-id="alignTop"] {
  top: 190px !important;
}

.shepherd-element[data-shepherd-step-id="displayNone"] {
  display: none !important;
}

.shepherd-has-title .shepherd-content .shepherd-header {
  padding: 0.5em 1em !important;
}
