<div style="margin-top: 5%"  fxLayoutAlign="center">
    <mat-card fxLayout="column" fxLayoutAlign="center" fxFlex="50%" fxFlex.xs="90%" fxFlex.sm="80%">
    <span fxLayoutAlign="center">
      <img width="373" height="81" alt="Angular Logo" src="{{logo_dir}}">
    </span>
        <br/>
        <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center" *ngIf="!upr">
            <div fxLayout="column" fxLayoutAlign="space-around center" [style.display]="resetMessage ? 'none' : 'flex'">
                <p style="width:70%; margin-bottom: 2%" *ngIf="!showErrorMessage">Forgot your account’s password or having trouble logging in? <br>Enter your email address and we’ll send you a recovery link.</p>
                <mat-form-field style="width:70%">
                    <input matInput #email type="email" placeholder="Email" [formControl]="emailFormControl" required>
                </mat-form-field>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')" style="margin-top: -10px; margin-bottom: 2%">
                    Please enter a valid email address
                </mat-error>
            </div>

            <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="resetMessage">
                <p style="width:70%; margin-bottom: 2%">
                    Account recovery email sent to: {{email.value}} <br>
                    If you don’t see this email in your inbox within 15 minutes, look for it in your junk mail folder.
                </p>
            </div>

            <div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="5%">
                <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
                <button mat-raised-button *ngIf="!emailFormControl.hasError('email') && !resetMessage" color="primary" (click)="submitPasswordReset(email.value)">Send recovery email</button>
            </div>
            <mat-error *ngIf="showErrorMessage" style="margin: 20px auto;width: 70%;text-align: center;">{{errorMessage}}</mat-error>
            <div fxLayoutGap="4%" fxLayout="column" *ngIf="showOauthButton">
                <button mat-raised-button color="accent" (click)="initOauthLogin()">GOOGLE LOGIN</button>
            </div>
        </div>

        <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center" *ngIf="upr">
            <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="resetUpdate">
                <p style="width:70%; margin-bottom: 2%;text-align: center" *ngIf="resetMessage">Your password has been reset successfully!<br></p>
                <mat-error style="width:70%; margin-bottom: 2%;" *ngIf="!resetMessage">{{errorMessage}}</mat-error>
                <button mat-raised-button (click)="cancel()" color="primary">Click here to return to the login page</button>
            </div>

            <div fxLayout="column" fxLayoutAlign="space-around center" [style.display]="resetUpdate ? 'none' : 'flex'">
                <p style="width:70%; margin-bottom: 2%">Please enter your new password.</p>
                <mat-error *ngIf="showErrorMessage" style="margin-bottom:20px; width: 70%;">{{errorMessage}}</mat-error>
                <mat-form-field style="width:70%">
                    <input matInput #password type="password" placeholder="Password" required>
                </mat-form-field>
                <mat-form-field style="width:70%">
                    <input matInput #password_repeat type="password" placeholder="Repeat Password" required>
                </mat-form-field>
            </div>

            <div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="5%" *ngIf="!resetUpdate">
                <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
                <button mat-raised-button color="primary" (click)="submitNewPassword(password.value, password_repeat.value)">Submit</button>
            </div>
        </div>
        <br/>
    </mat-card>
</div>
