<h2 mat-dialog-title fxLayoutAlign="center"></h2>

<mat-dialog-content fxLayout="column" fxLayoutGap="5%">
  <section>
    <p fxLayoutAlign="center">Provider: {{data.provider}}</p>
    <p fxLayoutAlign="center">Address: {{data.address}}</p>
  </section>

  <section fxLayout="column" fxLayoutGap="5%">

    <mat-accordion>
        <mat-expansion-panel *ngFor="let clinic of data.clinics">

                <mat-expansion-panel-header>
                    <mat-panel-title>{{clinic.clinic}}</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let opHour of clinic.opHours.split(';')">
                        <h3 matLine> Operational Hours: {{opHour}}</h3>
                    </mat-list-item>
                    <mat-list-item >
                        <h3 matLine> Start Date: {{clinic.startDate}}</h3>
                    </mat-list-item>
                    <mat-list-item >
                        <h3 matLine> Close Date: {{clinic.closeDate}}</h3>
                    </mat-list-item>
                    <mat-list-item *ngIf="clinic.weblink != ''">
                        <h3 matLine> WebLink: {{clinic.weblink}}</h3>
                    </mat-list-item>
                </mat-list>

            

        </mat-expansion-panel>

    </mat-accordion>


      <div fxLayout="column" fxLayoutGap="5%">
          <mat-error fxLayoutAlign="center" *ngIf="displayMessage">{{userMessage}}</mat-error>
      </div>

  </section>

</mat-dialog-content>


