<section fxLayout="column"  fxLayoutGap="3%">
    <section fxFlexAlign="center"> Finish Identification</section>
    <mat-accordion *ngIf='script'>
        <mat-expansion-panel *ngFor="let question of script.questions; let k = index" [ngSwitch]="question.questionType" >
            <mat-expansion-panel-header  class="right-aligned-header">
              <mat-panel-title>{{k + 1}}</mat-panel-title>
              <mat-panel-description>{{question.question}}</mat-panel-description>
            </mat-expansion-panel-header>
            <section *ngSwitchCase="'SINGLESELECT'" >
                <mat-radio-group fxLayout="column" fxLayoutGap="5%" [ngModel] #radioAnswers="ngModel" name="{{question.question}}">
                    <mat-radio-button *ngFor="let responses of question.responses" value="{{responses.response}},{{responses.idType}}">{{responses.response}} <p color="primary">{{responses.idType}}</p></mat-radio-button>
                </mat-radio-group>
            </section>
            <section *ngSwitchCase="'TEXT'" >
                <mat-form-field fxFlex="100%"> 
                  <input matInput #textAnswers placeholder="Type your answer here" name="{{question.question}}">
                </mat-form-field>
            </section>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Non Response Codes</mat-panel-title>
                <mat-panel-description></mat-panel-description>                   
            </mat-expansion-panel-header>
            <section fxLayout="column"  fxLayoutGap="5%">
                <button *ngFor="let nonResponse of nonResponseSet.nonResponses;" mat-stroked-button fxFlex="100%" color="warn"  [disabled]='submitingResponse' (click)="submitNonResponse(nonResponse.nonResponse, nonResponse.nonResponseType)">{{nonResponse.nonResponse}}</button>
            </section>      
        </mat-expansion-panel>
    </mat-accordion>
    <button fxFlex="90%" mat-stroked-button color="primary" (click)="submitScriptResponse();" fxFlexAlign="center" [disabled]='submitingResponse'>SUBMIT</button> 
    <mat-progress-bar *ngIf='submitingResponse' mode="indeterminate"></mat-progress-bar>
    <mat-error *ngIf='displayMessage'>{{userMessage}}</mat-error>

</section>

